* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
}

.header {
  background: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header nav {
  display: flex;
  gap: 15px;
}

.header a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 15px;
  max-width: 800px;
  margin: auto;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin: 15px;
}
.gift{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

button {
  background: black;
  color: white;
  border: none;
}

button.danger {
  background: red;
}

button.secondary {
  background: grey;
}
.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pagination button {
  width: auto;
  min-width: 80px;
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;

}

.pagination button:disabled {
  background: grey;
  cursor: not-allowed;
}

@media (max-width: 600px){
  .gift {
    flex-direction: column;
    align-items: flex-start;
  }
  .button-group {
    width: 100%;
  }
}